nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

nav a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5vh;
}

nav a img {
  margin-right: 10px;
}

nav a:hover {
  color: white;
}

.separatorSm {
  width: 40%;
  height: 3px;
  margin: 20px 0px 20px 0px;
  background-color: white;
}

.greenProject h2,
.blueeProject h2,
.yellowProject h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3.6vh;
}

.greenProject h1,
.greenProject h2 {
  color: #48b188;
}

.blueeProject h1,
.blueeProject h2 {
  color: #001489;
}

.yellowProject h1,
.yellowProject h2 {
  color: #f49408;
}

.greenBg {
  background-color: #7dceae;
}

.yellowBg {
  background-color: #fb9d15;
}

.blueeBg {
  background-color: #1a3e98;
}

.project-header {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: enterHeader 1.5s ease forwards;
          animation: enterHeader 1.5s ease forwards;
}

.project-header .header-circles {
  margin-right: 5vh;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project-header .header-circles .circle {
  margin-top: 3vh;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
}

.project-header .header-circles .circle img {
  width: 100%;
}

.project-header .header-info {
  padding: 20px;
  width: 75%;
}

.project-header .header-info h1 {
  font-size: 6vh;
  margin-top: 7vh;
}

.project-header .header-info a {
  color: #8d8d8d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4vh;
}

.project-header .header-info a img {
  margin-right: 10px;
}

.project-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: enterBlocks 1s ease 1s forwards;
          animation: enterBlocks 1s ease 1s forwards;
  opacity: 0;
}

.project-main .project-tech {
  width: 25%;
  margin-right: 5vh;
  position: relative;
}

.project-main .project-tech h2 {
  margin: 35vh auto 2vh auto;
  width: 35vh;
}

.project-main .project-tech ul {
  width: 35vh;
  margin: 0 auto 0 auto;
  padding: 10px;
}

.project-main .project-tech ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

.project-main .project-tech ul li img {
  margin-right: 1vh;
}

.project-main .project-tech ul li p {
  color: #8d8d8d;
  font-size: 18px;
}

.project-main .project-tech .project-about {
  position: absolute;
  padding: 20px;
  width: 35vh;
  height: 35vh;
  top: -5vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.project-main .project-tech .project-about p {
  color: white;
  font-size: 2vh;
}

.project-main .project-blocks {
  width: 75%;
}

.project-block {
  padding: 10px;
  color: white;
  height: 65vh;
  margin-bottom: 3vh;
}

.project-block img {
  width: 100%;
}

.project-block h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3.2vh;
  padding: 10px;
  margin: 0 0 1.5vh 0;
}

.project-block p {
  font-size: 1.8vh;
}

.full-row {
  margin: 6vh 0 6vh 0;
}

.full-row h2 {
  margin-bottom: 4vh;
}

@-webkit-keyframes enterHeader {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes enterHeader {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes enterBlocks {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes enterBlocks {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media screen and (max-width: 1140px) {
  .project-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-header .header-circles {
    width: 100%;
  }
  .project-header .header-info {
    width: 100%;
    padding-bottom: 10vh;
  }
  .project-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-main .project-tech {
    width: 100%;
    margin: 0 auto 0 auto;
  }
  .project-main .project-tech h2 {
    width: 100%;
    padding: 0 10vh 0 10vh;
  }
  .project-main .project-tech .project-about {
    width: 60%;
  }
  .project-blocks {
    margin: 0 auto 0 auto;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  width: 35%;
  height: 100vh;
}

h1,
h2 {
  font-family: "Oxanium", cursive;
  margin: 0;
}

p {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.separator {
  width: 30%;
  height: 3px;
  margin: 40px 0px 40px 0px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-container .main-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.main-container .main-name .age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f26554;
  padding: 20px;
  margin-right: 20px;
}

.main-container .main-name .age h2 {
  color: white;
  font-size: 5vh;
  font-weight: 600;
}

.main-container .main-name strong {
  color: #f26554;
  font-weight: 600;
  font-size: 4vh;
}

.main-container .main-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 35%;
  height: 100%;
}

.main-container .main-info {
  width: 60%;
  padding: 30px;
}

.main-container .main-info h1 {
  color: #f26554;
  font-size: 6vh;
}

.main-container .main-info p {
  text-align: justify;
  font-size: 2vh;
  color: #686664;
}

.main-container .main-info small {
  font-size: 3vh;
  font-weight: 300;
}

.main-container .main-info .contact {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-info .contact img {
  margin-right: 20px;
}

.main-container .main-info .contact span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-info .contact p {
  color: #363636;
}

.main-container .main-burger {
  width: 5%;
  height: 100%;
  padding: 20px;
}

.main-container .main-burger button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: none;
}

.hexagon {
  position: relative;
  width: 22.7vh;
  height: 13.2vh;
  margin: 4vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.hexagon::before, .hexagon::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 11.3vh solid transparent;
  border-right: 11.3vh solid transparent;
}

.hexagon::before {
  bottom: 100%;
}

.hexagon::after {
  top: 100%;
  width: 0;
}

.hexagon h1 {
  font-size: 8vh;
}

.hexagon p {
  font-size: 2vh;
}

.hexagon:hover {
  cursor: pointer;
}

.hexagon:hover h1 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.redBg {
  background-color: #f26554;
}

.redBg::before {
  border-bottom: 6.7vh solid #f26554;
}

.redBg::after {
  border-top: 6.7vh solid #f26554;
}

.blueBg {
  background-color: #01a6b9;
}

.blueBg::before {
  border-bottom: 6.7vh solid #01a6b9;
}

.blueBg::after {
  border-top: 6.7vh solid #01a6b9;
}

.blackBg {
  background-color: #686664;
}

.blackBg::before {
  border-bottom: 6.7vh solid #686664;
}

.blackBg::after {
  border-top: 6.7vh solid #686664;
}

.whiteBg {
  background-color: white;
}

.link-row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25vh;
}

.link-row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mv-3 {
  margin-right: 2vh;
}
/*# sourceMappingURL=main.css.map */