nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

nav a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5vh;
}

nav a img {
  margin-right: 10px;
}

nav a:hover {
  color: white;
}

.separatorSm {
  width: 40%;
  height: 3px;
  margin: 20px 0px 20px 0px;
  background-color: white;
}

.greenProject h2,
.blueeProject h2,
.yellowProject h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3.6vh;
}

.greenProject h1,
.greenProject h2 {
  color: #48b188;
}

.blueeProject h1,
.blueeProject h2 {
  color: #001489;
}

.yellowProject h1,
.yellowProject h2 {
  color: #f49408;
}

.greenBg {
  background-color: #7dceae;
}

.yellowBg {
  background-color: #fb9d15;
}

.blueeBg {
  background-color: #1a3e98;
}

.project-header {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: enterHeader 1.5s ease forwards;
          animation: enterHeader 1.5s ease forwards;
}

.project-header .header-circles {
  margin-right: 5vh;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project-header .header-circles .circle {
  margin-top: 3vh;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
}

.project-header .header-circles .circle img {
  width: 100%;
}

.project-header .header-info {
  padding: 20px;
  width: 75%;
}

.project-header .header-info h1 {
  font-size: 6vh;
  margin-top: 7vh;
}

.project-header .header-info a {
  color: #8d8d8d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4vh;
}

.project-header .header-info a img {
  margin-right: 10px;
}

.project-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: enterBlocks 1s ease 1s forwards;
          animation: enterBlocks 1s ease 1s forwards;
  opacity: 0;
}

.project-main .project-tech {
  width: 25%;
  margin-right: 5vh;
  position: relative;
  padding: 20px;
}

.project-main .project-tech h2 {
  margin: 35vh auto 2vh auto;
  width: 35vh;
}

.project-main .project-tech ul {
  width: 35vh;
  margin: 0 auto 0 auto;
  padding: 10px;
}

.project-main .project-tech ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

.project-main .project-tech ul li img {
  margin-right: 1vh;
}

.project-main .project-tech ul li p {
  color: #8d8d8d;
  font-size: 18px;
}

.project-main .project-tech .project-about {
  position: absolute;
  padding: 20px;
  width: 35vh;
  height: 35vh;
  top: -5vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.project-main .project-tech .project-about p {
  color: white;
  font-size: 2vh;
}

.project-main .project-blocks {
  width: 75%;
}

.project-block {
  padding: 10px;
  color: white;
  height: 65vh;
  margin-bottom: 3vh;
}

.project-block img {
  width: 100%;
}

.project-block h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3.2vh;
  padding: 10px;
  margin: 0 0 1.5vh 0;
}

.project-block p {
  font-size: 1.8vh;
}

.full-row {
  margin: 6vh 0 6vh 0;
}

.full-row h2 {
  margin-bottom: 4vh;
}

@-webkit-keyframes enterHeader {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes enterHeader {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes enterBlocks {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes enterBlocks {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media screen and (max-width: 1140px) {
  .project-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-header .header-circles {
    width: 100%;
  }
  .project-header .header-info {
    width: 100%;
    padding-bottom: 10vh;
  }
  .project-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .project-main .project-tech {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  .project-main .project-tech h2 {
    width: 100%;
  }
  .project-main .project-tech ul {
    margin-right: 0;
    margin-left: 0;
  }
  .project-main .project-tech .project-about {
    width: 80%;
  }
  .project-main .project-blocks {
    margin: 0 auto 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .header-info a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2 {
  font-family: "Oxanium", cursive;
  margin: 0;
}

p {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.separator-sm {
  width: 20%;
  height: 1px;
  background-color: #c4c4c4;
  margin: 3vh 0 3vh 0;
}

.separator {
  width: 30%;
  height: 3px;
  margin: 40px 0px 40px 0px;
}

button:focus {
  outline: none;
}

.main-container {
  background-color: #f5f5f5;
}

.main-container header {
  padding: 10px;
  background-color: #242424;
  margin-bottom: 10vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container header a {
  margin-left: 2vh;
}

.main-container header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container header p,
.main-container header h5 {
  color: white;
  font-size: 1.8vh;
  font-weight: 300;
}

.main-container header h5 {
  font-family: "Poppins", sans-serif;
  width: 9vh;
  font-weight: 500;
  margin-bottom: 0;
}

.main-container main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container article {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container article img {
  margin-bottom: 5vh;
}

.main-container article h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #242424;
  font-size: 7vh;
  margin-bottom: 3vh;
  text-align: center;
}

.main-container article p {
  color: #898989;
  font-size: 2.2vh;
  font-weight: 300;
  text-align: center;
}

.main-container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container section div img {
  margin-right: 2vh;
  width: 4vh;
}

.main-container section div p {
  color: #898989;
  font-weight: 300;
  font-size: 2vh;
}

.main-container footer {
  background-color: #242424;
  padding: 10px;
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container footer p {
  color: #d1d1d1;
  font-weight: 300;
}

.mr-big {
  margin-right: 15vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  cursor: pointer;
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  position: relative;
}

.hexagon-in2 div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.hexagon-in2 div h3 {
  color: white;
  font-size: 8vh;
  font-weight: 400;
}

.hexagon-in2 div p {
  color: white;
  font-size: 2vh;
  font-weight: 300;
}

.hexagon2 {
  width: 220px;
  height: 440px;
  margin-right: 2vh;
}

.bgPr1 {
  background-image: url("../public/img/hex1.png");
}

.bgPr1:hover {
  background-image: url("../public/img/hexHoover1.png");
}

.bgPr1:hover div {
  opacity: 1;
}

.bgPr2 {
  background-image: url("../public/img/hex2.png");
}

.bgPr2:hover {
  background-image: url("../public/img/hexHoover2.png");
}

.bgPr2:hover div {
  opacity: 1;
}

.bgPr3 {
  background-image: url("../public/img/hex3.png");
}

.bgPr3:hover {
  background-image: url("../public/img/hexHoover3.png");
}

.bgPr3:hover div {
  opacity: 1;
}

@media screen and (max-width: 960px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */